body {
  background-color: #444444;
  color: #dddddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  background-image: url("https://w0.peakpx.com/wallpaper/302/655/HD-wallpaper-painted-bloodstripe-blood-stripe-dress-blues-jarhead-leathernecks-marine-corps-marines-semper-fi-usmc.jpg");
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}
